*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.section__search {
}
.article__title {
}
.input__search {
}
.article__date {
}
.section__tasks {
}
.article__task {
}
